{% extends "layout.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
  <h1 class="mb-4">Bienvenue sur la compet' top chef </h1>
  <p>Ici, tu peux prédire chaque semaine quel candidat sera éliminé. Tu peux aussi voir le classement général et tenter de terminer le/la premier(e)!.</p>
  
  <p>Pour commencer, tu peux :</p>
  <ul>
    <li>Aller sur la page <strong>Prédictions</strong> pour faire ton pronostic de la semaine</li>
    <li>Consulter le <strong>Classement</strong> pour voir qui mène la danse</li>
  </ul>

  Bonne chance ... 

  <div class="mt-4">
    <a href="{{ url_for('predictions') }}" class="btn btn-primary me-2">Faire mes prédictions</a>
    <a href="{{ url_for('classement') }}" class="btn btn-success">Voir le classement</a>
  </div>
{% endblock %}
